body {
    background-color: #f5e5d6;
}
h1{
    text-align: center;
    color:#5c0000;
}
.sub-info {
    font-family:Georgia, 'Times New Roman', Times, serif;
}    
table{
    margin-left: 10%;
    width:70%;
}
th {
    color:#5c0000;
}
table, th, td{
    border: 1px solid darkslategray;
}
#input-btn{
    margin-top: 10px;
}
h3{
    color:#5c0000;
}
nav a {
    color:#5c0000;
}
nav {
    background-color: peru;
}